@charset "utf-8";
/* CSS Document */

h2.title{
	margin-top: 0;
	color: #0A0051;
}

li.name:after {
border-bottom: 1px solid #3D5AFE;
content: "";
display: block;
width: 12%;
}

.table-of-contents {
width: 30%;
background: #E8FDFF;
border-left: 10px solid #0A0051;
display: table;
padding: 1em 2em;
margin: 0 0 0.5em 0.5em;
}

.table-of-contents ul>li {
margin: 0 0 .6em 0;
list-style-type: none;
}

.table-of-contents a {
text-decoration: none;
color: #3D5AFE;
}